<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="2" parallel="tests">

    <listeners>
        <listener class-name="Tests.selenium.Listeners"/>
    </listeners>

    <test name="ChromeTest" thread-count="2">


        <parameter name="browser" value="Chrome"/>

        <classes>
            <class name="Tests.ft.Test2"></class>
            <class name="Tests.ft.Test4"></class>
            <class name="Tests.ft.Test8"></class>
            <class name="Tests.ft.Test10"></class>
            <class name="Tests.ft.Test18"></class>
            <class name="Tests.ft.Test22"></class>
            <class name="Tests.ft.Test32"></class>
        </classes>

    </test>

    <test name="FirefoxTest" thread-count="2">

        <parameter name="browser" value="Firefox"/>

        <classes>
            <class name="Tests.ft.Test2"></class>
            <class name="Tests.ft.Test4"></class>
            <class name="Tests.ft.Test8"></class>
    <!--<class name="Tests.ft.Test10"></class>-->
    <!--<class name="Tests.ft.Test18"></class>-->
    <!--<class name="Tests.ft.Test22"></class>-->
    <!--<class name="Tests.ft.Test32"></class>-->
        </classes>

    </test>

</suite>